*{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;

}
h1{
    color: rgb(82, 151, 255);
    font-size: 40px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-left: 15px;
}
h2{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-left: 15px;
}
p{
    font-size: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}
a{
    text-align: center;
    font-size: 18px;
}
.imagen{
    text-align: center;
}
.botones{
    text-align: center;
}
#b1{
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
#b1:hover{
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
}
